:root {
	--transparent: rgba(0, 0, 0, 0);
	--black: #000000;
	--dark-gray: #0a0a0a;
	--gray: #191919;
	--light-gray: #393939;
	--slightly-lighter-gray: #595959;
	--white: #ffffff;
	--purple: #42098e;
	--cyan: #1f5eff;
	--orange: #ff8c00;
	--yellow: #ffc400;
	--green: #00ff00;
	--shadow: rgba(1, 1, 1, 0.5);
	--red: #ff0000;
}
