@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("colorset.css");

::-webkit-scrollbar {
	width: 0.65rem;
}

::-webkit-scrollbar-track {
	background-color: var(--transparent);
}

::-webkit-scrollbar-thumb {
	background-color: var(--light-gray);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--black);
	transition: all 0.5s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
	color: var(--white);
	text-decoration: none;
	scroll-behavior: smooth;
}

@keyframes lmao {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

body {
	background-color: var(--gray);
}

body.rotate {
	animation: lmao 3s linear infinite;
}

.text-orange-cyan {
	color: var(--orange);
	transition: all 0.3s ease;
}

.text-orange-cyan:hover {
	color: var(--cyan);
}

.spoiler {
	position: relative;
}

.spoiler:not(.spoiler-shown)::after {
	opacity: 1;
	cursor: pointer;
	content: "Spoiler";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--black);
	color: var(--purple);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin-top: -0.5rem;
	font-weight: 700;
	transition: all 0.3s ease;
}

.spoiler:not(.spoiler-shown):hover::after {
	color: var(--cyan);
}

#home-tictactoe-mention {
	display: none;
}

#profile-picture-container {
	position: fixed;
	top: 0;
	left: 0;
	padding: 1rem;
}

#profile-picture-image {
	max-width: 10vw;
	max-height: 10vh;
	width: 100%;
	border-radius: 50%;
}

#site {
	display: grid;
	grid-template-columns: min-content 1fr;
	max-width: 100vw;
}

#navigation {
	position: sticky;
	top: 0;
	height: 100vh;
	width: min-content;
	display: flex;
	align-items: center;
}

#navigation-container {
	margin-left: 5vw;
	display: flex;
	flex-direction: column;
}

#navigation-container > a {
	font-size: clamp(3rem, 5vw, 5rem);
	font-weight: 700;
	margin-bottom: 1.5vh;
	width: min-content;
	color: var(--purple);
	transition: all 0.3s ease;
}

#navigation-container > a:hover {
	color: var(--cyan);
}

#navigation-container > a.current-section {
	color: var(--slightly-lighter-gray);
}

#content {
	width: 100%;
	padding-right: 5vw;
	padding-left: 5vw;
}

#content > * {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 1.5rem;

	border-bottom: 1px dashed var(--very-light-gray);
}

#imprint {
	border-bottom: none;
}

#content > *:last-child {
	border-bottom: none;
}

#content > *:first-child {
	padding-top: unset;
}

#home > * {
	margin-bottom: 3vh;
	font-size: clamp(1.5rem, 2vw, 2.5rem);
	line-height: 2.25rem;
}

#socials {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 80%;
	gap: 2rem;
	width: 100%;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

#cards > * {
	width: 20vw;
	height: 22.5vh;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--gray);
	border: 1px solid var(--very-light-gray);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 0.3s ease;
	position: relative;
}

#cards > *.highlight {
	background: linear-gradient(45deg, var(--cyan), var(--purple));
	rotate: 0deg;
	transition: rotate 2s;
}

#cards > *.highlight:hover {
	/* Rotate the background by 45 degrees */
	rotate: 360deg;
}

#cards > *:hover {
	background-color: var(--light-gray);
	box-shadow: 0 0 2rem var(--shadow);
	transform: translateY(-0.25rem);
}

#cards > * > .socials-card-icon {
	max-width: 5rem;
	max-height: 5rem;
}

#cards > * > .socials-card-icon > img {
	width: 100%;
}

#cards > * > .socials-card-title {
	font-size: clamp(1.5rem, 2vw, 2.5rem);
	font-weight: 700;
	margin-top: 0.5rem;
}

#cards > * > .socials-card-link {
	font-size: clamp(1rem, 1.5vw, 2rem);
	font-weight: 500;
	margin-top: 0.5rem;
	width: 100%;
	text-align: left;
	padding-left: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

#navigation-tictactoe {
	display: none;
}

#tictactoe {
	padding-top: 0;
	display: none;
}

#tictactoe-container {
	width: 100%;
	height: 100vh;
}

#tictactoe-iframe {
	width: 100%;
	height: 100%;
}

#projects {
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
}

.pin-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 1rem;
	height: 22.5vh;
	border: 1px solid var(--very-light-gray);
	background-color: var(--gray);
	border-radius: 1rem;
	transition: all 0.3s ease;
	cursor: pointer;
}

.pin-wrapper:hover {
	background-color: var(--light-gray);
	box-shadow: 0 0 2rem var(--shadow);
	transform: translateY(-0.25rem);
}

.pin-title {
	position: absolute;
	top: 0.25rem;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 500;
}

.pin-wrapper > canvas {
	align-self: left;
	margin-left: 1rem;
	height: 75%;
	aspect-ratio: 1/1;
	image-rendering: crisp-edges;
}

.lang-wrapper {
	align-self: right;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-right: 1rem;
	gap: 0.125rem;
}

.lang-entry {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}

.lang-color {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

#imprint {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: clamp(1rem, 1.5vw, 2rem);
}

#imprint > *.spoiler::after {
	font-size: 4rem;
}

#imprint-details {
	margin-top: 3rem;
	width: max-content;
}

#imprint-details > * {
	text-align: center;
}

#not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	border-top: 1px dashed var(--very-light-gray);
}

#not-found.hidden {
	display: none;
}

#not-found > * {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: var(--slightly-lighter-gray);
	width: 100%;
	height: 100vh;
	font-size: clamp(3rem, 5vw, 5rem);
}

@media (hover: none) {
	.text-orange-cyan:hover {
		color: var(--orange);
	}

	#navigation-container > a:hover {
		color: var(--purple);
	}

	#cards > *:hover {
		background-color: var(--light-gray);
	}
}

@media screen and (max-width: 1200px) {
	#navigation {
		width: 0;
		opacity: 0;
		pointer-events: none;
	}
}
