/*----------------------------------
--           Disclaimer           --
--                                --
--                                --
-- This Website including         --
-- the Pictures, CSS, JavaScript  --
-- and HTML is fully              --
-- made by me [DNAScanner].       --
-- I learned most things about    --
-- CSS and HTML                   --
-- from https://w3schools.com.    --
----------------------------------*/

/*-----------
-- Imports --
-----------*/

@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu");

/*-------------
-- Variables --
-------------*/

:root {
	--fontFamily: "Roboto", sans-serif;
	--fontSize: 2rem;

	--outerFrameSpace: 6rem;

	--scrollbarMargin: 1vh;

	--searchInputHeight: 5vh;
	--searchInputWidth: 20vw;
}

/*-------------
-- Basic CSS --
-------------*/

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.65rem;
}

::-webkit-scrollbar-track {
	background-color: rgba(127, 127, 127, 1);
	border-radius: 50rem;
	margin-top: var(--scrollbarMargin);
	margin-bottom: var(--scrollbarMargin);
	margin-right: var(--scrollbarMargin);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(56, 56, 56, 1);
	border-radius: 50rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(52, 52, 52);
	border: 50rem;
	transition: all 0.5s;
}

html {
	border: 0;
	margin: 0;
	background-color: rgba(38, 38, 38, 1);
}

body {
	border: 0;
	margin: 0;
	background-size: cover;
	background-attachment: fixed;
	/* animation: backgroundAnim 35s infinite; */
}

#Content {
	margin-top: 3rem;
	margin-left: var(--outerFrameSpace);
	margin-right: var(--outerFrameSpace);
}

button {
	text-align: center;
}

img:not(.navbarElement),
video {
	border-radius: 0.5rem;
	display: block;
	margin: auto;
}

video {
	display: block;
	margin: auto;
	width: 90rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
a {
	font-family: var(--fontFamily);
	text-align: center;
	color: rgba(255, 255, 255, 1);
}

h1,
p {
	font-size: var(--fontSize);
}

p {
	font-size: calc(var(--fontSize) * 0.6);
}

a {
	color: rgba(201, 130, 0, 1);
}

.box {
	margin-bottom: 1.75rem;
	border: 0.3rem rgba(24, 24, 24, 1) solid;
	background-color: rgba(28, 28, 28, 0.3);
	border-radius: 1rem;
}

.homeHeader {
	color: rgb(208, 52, 255);
	margin-bottom: 3rem;
}

.homeHeader::after {
	content: " DNAScanner";
	animation: homeHeaderAnim 15s infinite;
}

.homeCategory {
	display: block;
	margin-bottom: 0.8rem;
}

.homeInformation {
	margin-bottom: 2rem;
	font-size: calc(var(--fontSize) * 0.75);
}

.backgroundPreload {
	height: 0;
	width: 0;
	display: block;
	opacity: 0;
}

.discordWidget {
	width: 100%;
	height: 85vh;
	margin-top: 1.92089837789535511358707253748434595763683319091796874999999999999999999999999999999999999999rem;
}

.colorEpicRed {
	color: rgba(160, 0, 0, 1);
}

.errorOrange {
	color: rgba(255, 177, 31, 1);
}

.searchWrapper {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	width: var(--searchInputWidth);
	height: var(--searchInputHeight);
	text-align: center;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
}

input {
	border-radius: 0.5rem;
	background-color: rgba(12, 12, 12, 0.5);
	color: rgba(255, 255, 255, 1);
}

input::placeholder {
	color: rgba(255, 255, 255, 1);
}

input#search {
	opacity: 0;
	width: 0;
	height: var(--searchInputHeight);
	transition: 0.5s all;
}

input#search.show {
	opacity: 1;
	animation: inputSearchAppear 0.5s ease;
	width: var(--searchInputWidth);
}

/*--------------
-- Animations --
--------------*/

@keyframes inputSearchAppear {
	from {
		width: 0;
	}

	to {
		width: var(--searchInputWidth);
	}
}

@keyframes homeHeaderAnim {
	50% {
		content: " YouTuber & Streamer";
	}

	75% {
		content: " ein Designer";
	}

	100% {
		content: " ein Developer";
	}
}

@keyframes backgroundAnim {
	0% {
		background-image: url(../background/1.png);
	}

	14.2% {
		background-image: url(../background/2.png);
	}

	28.4% {
		background-image: url(../background/3.png);
	}

	42.6% {
		background-image: url(../background/4.png);
	}

	56.8% {
		background-image: url(../background/5.png);
	}

	71.0% {
		background-image: url(../background/6.png);
	}

	85.2% {
		background-image: url(../background/7.png);
	}

	100% {
		background-image: url(../background/1.png);
	}
}
