/*----------------------------------
--           Disclaimer           --
--                                --
--                                --
-- This Website including         --
-- the Pictures, CSS, JavaScript  --
-- and HTML is fully              --
-- made by me [DNAScanner].       --
-- I learned most things about    --
-- CSS and HTML                   --
-- from https://w3schools.com.    --
----------------------------------*/

/*-------------
-- Variables --
-------------*/

:root {
	--navHeight: 6rem;
	--basicFontWeight: 700;
}

/*-------------
-- Basic CSS --
-------------*/

.navbar {
	overflow: hidden;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 1.75rem;
	height: var(--navHeight);
}

.navbarElement.logo {
	float: left;
	height: calc(var(--navHeight) * 0.8);
	margin-top: calc(var(--navHeight) * 0.1);
	margin-left: 7.5rem;
	border-radius: 0.75rem;
	vertical-align: middle;
}

.navbarElement.elementContainer {
	display: block;
	list-style: none;
	float: right;
	margin-right: 4rem;
}

.navbarElement.element {
	display: inline-block;
	margin-top: calc(var(--navHeight) * 0.3);
}

.navbarElement.linkIcon {
	padding-right: 0.1rem;
	vertical-align: middle;
	border-radius: 0;
}

.navbarElement.elementLink {
	color: rgba(0, 255, 255, 1);
	font-weight: var(--basicFontWeight);
	font-size: 0.9rem;
	text-transform: uppercase;
	margin-left: 2rem;
	transition: all 0.25s ease-in-out;
}
